:root {
    --admonition-border-left-width: 0.2rem;
    --base-border-radius: 0.5rem;
  }
  
  /* Customize admonition layout */
  .md-typeset .admonition {
    border-width: 0px;
    border-left-width: var(--admonition-border-left-width);
  }
  
  [dir="ltr"] .md-typeset blockquote {
    border-radius: 0.2rem;
    border-left-width: var(--admonition-border-left-width);
  }

  /* Markdown Button */
.md-typeset .md-button {
  border-radius: var(--base-border-radius);
}